

spring:
  application:
    max-metadata-size: ${MAX_METADATA_SIZE:16384}
    name: ${DSHACKLE_APP_NAME:dshackle}

compatibility:
  enabled: ${DSHACKLE_COMPATIBILITY_ENABLED:true}
  url: ${DSHACKLE_COMPATIBILITY_URL:https://raw.githubusercontent.com/drpcorg/public/main/compatible-clients.yaml}
